# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Env files (IMPORTANT)
.env
.env.local

# Database (SQLite)
*.sqlite
*.db
flower.db

# Coverage
coverage/

# Build files
dist/
build/

# Misc
*.tgz
*.gz
*.zip

# IDE files
.vscode/
.idea/